<%= form_for Post.new(:suit => false, :vote => 1) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :autocomplete => :off%>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, :autocomplete => :off %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
