<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Настройки', edit_user_registration_path %></li>
    <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
    <li><%= link_to 'Войти', new_user_session_path %></li>
  </ul>
<% end %>


<div class="new-post">
    <%= form_for Post.new do |f| %>

      <!--
      <div class="field">
        <%= f.label :Название %><br>
        <%= f.text_field :title, :autocomplete => :off%>
      </div>-->

      <div class="field">
        <%= f.label :Ссылка_youtube %><br>
        <%= f.text_field :url, :autocomplete => :off %>
      </div>

      <div class="actions">
        <%= f.submit "OK"%>
      </div>
<% end %>
</div>

<div class="posts">

 <% @posts.each do |post| %>

  <% if post.suit && post.created_at < Time.now %>

    <table class="post">
      <tr> <td colspan="2"><%= post.title %> </td>

      <%if post.isNew && post.created_at + 60 * 60 * 24 * 15 > Time.now %>
      <td>NEW </td>
      <% end %>
      </tr>

      <tr><td colspan="4"><iframe width="370" height="210" data-src = "<%= post.url %>"  frameborder="0" allowfullscreen></iframe></td> </tr>

      <tr>
        
        <td>
        <%= post.tags %> 
        </td>

        <td>
          <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
            Палец вверх
          <% end %>
        </td>
          
        <td> 
          <%= post.get_upvotes.size %>
        </td>
          <!--
        <td>
          <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
            Палец вниз
          <% end %>
        </td> -->
        
        
      </tr>


    </table>

  <% end %>

 <% end %>

</div>



