<header class="header-image">
      <div class="headline">
          <div class="container">
              <h1>Best Music</h1>
              <h2>Добавь свою любимую музыку</h2>

              <div class="new-post">
              <%= form_for Post.new do |f| %>

                  <div class="field">
                    <%= f.label :Ссылка_youtube %><br>
                    <%= f.text_field :url, :autocomplete => :off %>
                  </div>

                  <div class="actions">
                    <%= f.submit "OK"%>
                  </div>

                  <% if !flash.empty? %>
                    <h3>
                    <% flash.each do |name, msg| %>
                      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
                    <% end %>
                    </h3>
                  <% end %>

              <% end %>
          </div>
        </div>
    </div>
</header>


<div id="posts">
  <%= render @posts %>
</div>
<%= will_paginate @posts %>
