<p id="notice"><%= notice %></p>

<!--<iframe width="560" height="315" src="http://www.youtube.com/embed/bmXumtgwtak?rel=0" frameborder="0" allowfullscreen></iframe>-->

<div class="new-post">
    <%= form_for Post.new do |f| %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :autocomplete => :off%>
      </div>
      <div class="field">
        <%= f.label :url %><br>
        <%= f.text_field :url, :autocomplete => :off %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
</div>

<div class="posts">

 <% @posts.each do |post| %>

  <% if post.suit %>

    <table class="post">
      <tr> <td><%= post.title %> </td></tr>

      <tr><td><iframe width="370" height="210" src= "<%= post.url %>"  frameborder="0" allowfullscreen></iframe></td> </tr>

     <tr> <td> <%= post.tags %> </td>

      <td><%= post.vote %> </td> </tr>


    </table>

  <% end %>

 <% end %>

</div>



