<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label :suit %><br>
    <%= f.check_box :suit %>
  </div>

  <div class="field">
    <%= f.label :vote %><br>
    <%= f.number_field :vote %>
  </div>

  <div class="field">
    <%= f.label :isNew %><br>
    <%= f.text_field :isNew %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
