<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => "30", :class => "form-control"   %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, :size => "30", :class => "form-control"    %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, :size => "30", :class => "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :suit, :class => "edit-check-box-label" %>
    <%= f.check_box :suit, :class => "edit-check-box"%>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-default edit-submit"    %>
  </div>
<% end %>
