<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path %>
<% @posts.each do |post| %>
  <% if post.suit %>
    <table class="post">
      <tr>
        <td class="title"> <%= post.title %> </td>
      </tr>
      <tr>
        <td><iframe width="740" height="420" src= "<%= post.url %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td class="tags"><%= post.tags %> </td>
        <td class="vote"><%= post.vote %> </td>
      </tr>
    </table>
  <% end %>
<% end %>
