<div class="admin">

  <p id="notice"><%= notice %></p>

  <!--<iframe width="560" height="315" src="http://www.youtube.com/embed/bmXumtgwtak?rel=0" frameborder="0" allowfullscreen></iframe>-->

   <% @posts.each do |post| %>

      <% if !post.suit || getDate(post) != ""%>

      <div class="post-main">

        <div class="admin-featurette-heading">

          <h2> <%= post.title%> </h2>

          <%if post.isNew && post.created_at + 60 * 60 * 24 * 15 > Time.now %>
             <div class="admin-post-new"> New </div>
          <% end %>
          
          <%= getDate(post) %>

        </div>

      <div class="admin-post-body">


            <tr><td colspan="4"><iframe width="370" height="276" src = "<%= post.url %>"  frameborder="0" allowfullscreen></iframe></td> </tr>

        </table>
      </div>

      <div class="lead admin-post-tags">
        <%= post.tags %>
      </div>
        
        <div class="admin-post-conrolls">
           <% if !post.suit %>
              <%= link_to "OK", suit_post_path(post), method: :put %>
           <% end %>

         <%= link_to 'Edit', edit_post_path(post) %></td>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to "+Day", day_post_path(post), method: :put %>
         <%= link_to "+New", toNew_post_path(post), method: :put %>
        </div>

      <hr class="admin-featurette-divider">

    </div>

    <% end %>

   <% end %>

</div>


